.projects h2 {
  margin: 5rem;
}

.projects-container {
  display: flex;
  justify-content: center;
  align-items: stretch; /* Ensures equal height */
  flex-wrap: wrap;
  gap: 2rem;
  font-family: var(--content-font-style);
  color: white;
}

.projects-container .projects-box {
  flex: 1 1 10rem;
  background: var(--primary-background-color);
  padding: 3rem 2rem 4rem;
  text-align: center;
  transition: 0.5s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 0.5rem;
  box-shadow: 2px 2px 3px black;
  height: 40vh;
}

.projects-container .projects-box:hover {
  box-shadow: 1px 1px 1px var(--primary-color);
  transform: scale(1.02);
}

.projects-icon {
  height: 20%;
  font-size: var(--skills-icon-size);
  color: var(--primary-color);
}

.projects-box h3 {
  margin: 1.6rem 0;
  height: 10%;
  font-size: var(--h3-font-size);
}

.projects-box p {
  height: 70%;
  font-size: var(--content-size);
  margin: 1rem 0 3rem;
  flex-wrap: wrap;
}

#projects {
  background: var(--secondary-background-color);
  padding: 3rem;
}

.heading {
  text-align: center;
  font-style: italic;
}
