.skills {
  border: 2px soild white;
  padding: 10rem;
  background-color: var(--primary-background-color);
}

.skills-container {
  display: flex;
  justify-content: center;
  gap: 10rem;
  font-family: var(--content-font-style);
}
.skills-item {
  padding: 2rem;
  box-shadow: 2px 2px 3px black;
  transition: 0.5s ease;
  background-color: var(--secondary-background-color);
  border-radius: 0.5rem;
}
.skills-item a {
  text-decoration: none;
  color: white;
}

.skills-item img {
  height: 10rem;
}
.skills-item h2 {
  margin-top: 2rem;
  text-align: center;
}
.skills-item:hover {
  transform: scale(1.01);
  box-shadow: 1px 1px 1px var(--primary-color);
}

.skills-header {
  text-align: center;
  margin-bottom: 10rem;
}
